*{
    margin: 0;
    font-family: Nexa, sans-serif;
    padding: 0 ;
}

@font-face {
    font-family: Nexa;
    src: url("../fonts/Nexa_Bold.otf");
    src: url("../fonts/Nexa_Light.otf");
}

.container{
    width: 100%;
    max-width: 945px;
    margin: 0 auto;
}

.clearfix{
    content: '';
    display: table;
    width: 100%;
    clear: both;
}

div{
    box-sizing: border-box;
}

/*БЛОК ЛОГО*/

#logo{
    background-color: #373737;
}

.logo{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 64px;
}

.logo a{
    position: relative;
    font-size: 30px;
    font-weight: 900;
    text-decoration: none;
    color: white;
    padding: 10px 30px 17px 30px;
    background-color: #f26c4f;
}

.logo a:after{
    content: '';
    position: absolute;
    border-style: solid;
    right: -12px; top: 20px;
    border-width: 12px 0 12px 12px;
    border-color: transparent transparent transparent #f26c4f;
}

.logo p{
    margin-left: 25px;
    font-size: 14px;
    color: white;
    font-weight: bold;
}

/*БЛОК МЕНЮ*/

#menu{
    background-color: #474747;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.menu a{
    font-size: 12px;
    color: white;
    padding: 30px 25px;
    text-decoration: none;
}

.q1{
    border-right: 1px solid #767676;
    padding-right: 30px;
}

.menu > a > .q1 > .q2:hover{
    border-bottom: 4px solid #f26c4f;
    padding-bottom: 26px;
}

#main{
    background-color: #ebebeb;
    padding-top: 15px;
}

/*БЛОК ПОИСКА*/

form{
    position: relative;
}

.search{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.block_search{
    width: 300px;
    font-size: 12px;
    font-weight: bold;
    outline: none;
    color: #959595;
    padding: 15px 12px;
    border: none;
    resize: none;
}

.click_clock{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transform: translate(290px, 10px);
}

.icons{
    display: flex;
    flex-wrap: wrap;
}

.icons a{
    font-size: 12px;
    color: #8f8f8f;
    text-decoration: none;
    padding-left: 35px;
}

.icons a:hover{
    color: #f26c4f;
}

.fab, .fas{
    padding-right: 5px;
}

/*БЛОК МОСТ*/

.most{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}

.img_most{
   position: relative;
}

.most_photo{
    border-right: 10px solid #f26c4f;
}

.img_most:before{
    content: '';
    position: absolute;
    border-style: solid;
    right: -12px;
    top: 44px;
    border-width: 12px 0 12px 12px;
    border-color: transparent transparent transparent #f26c4f;
}

.block_most{
    width: 365px;
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: rgba(26, 26, 26, 0.8);
    padding: 20px 30px;
    top: 0;
    left: 0;
    transform: translate(264px, 330px);
    z-index: 1;
}

.text_most{
    width: 305px;
    height: 392px;
    padding: 45px 40px;
    background: #373737;
}

.text_most h3{
    width: 180px;
    font-size: 19px;
    color: white;
}

.text_most p, span{
    font-size: 12px;
    color: #959595;
}

.text_most p{
    padding-top: 18px;
}

.date{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 18px;
    text-align: right;
}

.date img{
    padding-right: 5px;
}

#most{
    padding-bottom: 15px;
}

/*БЛОК 3 КАРТИНКИ*/

.color_img{
    display: flex;
    justify-content: space-between;
}

.color_block{
    width: 300px;
}

.color_text{
    background: white;
    margin-top: -5px;
    height: 190px;
    padding: 25px 30px;

}

.color_text_h{
    font-size: 25px;
    font-weight: bolder;
    color: #4f4f4f;
    padding-bottom: 25px;

}

.color_text_p{
    font-size: 12px;
    color: #646464;
    line-height: 2.5;
}

.cl{
    position: relative;
}

.triangle{
    position: absolute;
    transform: translate(220px, -193px);
    border-style: solid;
    border-width: 0 80px 80px 0;
    border-color: transparent #f26c4f transparent transparent;
}

.plus{
    position: absolute;
    transform: translate(270px, -185px);
}

.plus a{
    color: white;
    text-decoration: none;
    font-size: 35px;

}

#color_img{
    padding-bottom: 15px;
}

/*Полный контент*/

.content_full{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 90px;
}

.content_block1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 625px;
}

.content_block2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.content_frazu{
    position: relative;
    width: 623px;
    background: white;
    border-left: 4px solid #f26c4f;
    padding: 35px 59px  0 35px;
    margin-bottom: 15px;
}

.content_frazu1{
    padding: 30px 59px  0 35px;
}

.content_frazu1{
    padding: 20px 59px  0 35px;
}

.movie{
    display: none;
}

.content_frazu:hover .movie{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-40px, 75px);
}

.content_frazu:hover .movie1{
    transform: translate(-40px, 30px);
}


.content_frazu:hover{
    background: #f26c4f;
    border-left: 4px solid #ce4e32;
}

.content_frazu_h{
    font-size: 24px;
    color: #474747;
    font-weight: bold;
}

.content_frazu_h1{
    font-size: 18px;
}
.content_frazu:hover h3{

    color: white;
}

.content_frazu:hover span{

    color: white;
}

.content_frazu:hover a{

    color: white;
}

.content_frazu:hover p{

    color: white;
}

.content_frazu_h:hover{
    color: white;
}



.content_frazu_block{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0 15px 0;
}

.block{
    border-right: 1px solid #afafaf;
}

.block span{
    font-size: 10px;
    color: #afafaf;
    padding: 0 30px 0 0;

}

.block a{
    font-size: 10px;
    color: #afafaf;
    padding: 0 30px 0 30px;
    text-decoration: none;
}

.block1 a{
    font-size: 10px;
    color: #afafaf;
    padding: 0 30px 0 30px;
    text-decoration: none;
}

.content_frazu_golos{
    padding: 0 30px 0 30px;
}

.star{
    font-size: 14px;
    color: #afafaf;
}

.fa-star, .fa-star-half{
    padding: 0;
    margin: 0;
}

.content_frazu_golos span{
    font-size: 10px;
    color: #afafaf;
}

.content_frazu_text{
    font-size: 14px;
    color: #707070;
    padding-bottom: 40px;
}

.read_more{
    text-align: center;
    padding: 30px 0 25px 0;
}

.read_more p{
    font-size: 14px;
    color: #bdbdbd;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 10px;
}

.read_more_plus{
    width: 20px;
    height: 20px;
    margin: 0 auto;
    background: #bdbdbd;
    border-radius: 50%;
}

.read_more a{
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.text_boxage{
    background: white;
    padding: 35px 45px 30px 50px;
    color: #707070;
    font-weight: bold;
}

.text_boxage_h{
    font-size: 30px;
    padding-bottom: 35px;
}

.text_boxage_p1{
    font-size: 14px;
    padding-bottom: 45px;
}

.text_boxage_p2{
    font-size: 14px;
}

.text_boxage_p2 span{
    font-size: 14px;
    font-weight: bold;
    color: #f26c4f;
}

.text_boxage div{
    width: 525px;
}

.like{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2px 0 30px 0;
    padding: 15px 25px;
    background: #efefef;
    border: 1px solid #dedede;
}

.like p, span{
    font-size: 12px;
    color: #a2a2a2;
}

.like a{
    color: #f26c4f;
}

.biggorod_img{
    width: 625px;
}

.text_content{
    background: white;
    padding: 40px 65px 0 50px;
    margin-top: -5px;
    margin-bottom: 30px;
}

.text_content1{
    margin-bottom: 100px;
}

.text_content div{
    width: 505px;
}

.text_content_h{
    font-size: 30px;
    color: #707070;
    font-weight: bold;
    padding-bottom: 15px;
}

.text_content_p{
    width: 485px;
    font-size: 14px;
    color: #949494;
    padding-bottom: 35px;
}

.text_content_p1{
    width: 545px;
}

.gorod{
    width: 300px;
}

.gorod_content{
    background: #373737;
    padding: 30px 40px 50px 30px;
    margin-top: -5px;
}

.gorod_content_h{
    font-size: 25px;
    color: white;
    padding-bottom: 25px;
}

.gorod_content_p{
    font-size: 12px;
    color: white;
}

.triangle1{
    transform: translate(220px, -299px);
}

.plus1{
    transform: translate(270px, -290px);
}

.colm2_block{
    padding: 35px 10px 0 20px;
    width: 300px;
}

.colm2_content{
    border-bottom: 2px solid #d9d9d9;
}

.colm2_content_h{
    font-size: 19px;
    color: #474747;
    padding-bottom: 20px;
}

.colm2_content_p{
    font-size: 12px;
    color: #8f8f8f;
    padding-bottom: 20px;
    width: 275px;
}

.block_info{
    padding: 15px 50px 15px 25px;
    background: white;
    border-left: 3px solid #cacaca;
    margin-bottom: 5px;
}

.block_info_h{
    font-size: 16px;
    color: #000;
    font-weight: bold;
}

.block_info span{
    font-size: 12px;
    color: #a7a7a7;
    padding-left: 10px;
}

.block_info:hover{
    background: #f26c4f;
    border-left: 3px solid #ce4e32;
}

.block_info:hover h3{
    color: white;
}

.block_info:hover span{
    color: white;
}

/*ФУТЕР*/

footer{
    background: #373737;
    padding: 40px 0 20px 0;
}

.click_foot{
    padding-bottom: 25px;
}

.click_foot a{
    font-size: 12px;
    color: white;
    padding-right: 25px;
    text-decoration: none;
}

.click_foot p{
    width: 760px;
    font-size: 11px;
    color: #6f6f6f;
}



